* {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  background-color: #01171b;
  font-family: "Montserrat", sans-serif;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  max-height: 150px;
  background-image: linear-gradient(to right, #022632, #01171b);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li > a,
.dropdown {
  display: block;
  padding: 20px 30px;
  background-color: inherit;
}

#arrow:link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(21, 98, 98);
  text-decoration: none;
  padding: 15px;
  font-size: 25px;
  border-radius: 7px;
}

#arrow:hover {
  cursor: pointer;
  opacity: 0.7;
}

.mapDiv {
  width: 100%;
  min-height: 650px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-size: 45px;
  color: beige;
}

h2 {
  text-align: center;
  font-size: 25px;
  color: beige;
}

h4 {
  text-align: center;
  font-size: 15px;
  color: beige;
}
svg {
  min-width: 40%;
  min-height: 650px;
  display: flex;
  justify-content: space-around;
}

svg path:hover {
  fill: #006284;
  cursor: pointer;
}

svg path:active {
  fill: rgb(11, 73, 11);
  cursor: pointer;
}

.land {
  fill: #00394f;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
}

#information {
  min-height: 300px;
  max-width: 40%;
  background-color: beige;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}

#sastojci {
  max-width: 40%;
  min-height: 300px;
  background-color: rgb(203, 203, 180);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}

#image {
  width: 100%;
  height: auto;
}

#displayImageAndVideo {
  text-align: center;
  max-width: 50%;
  max-height: 90%;
  padding-top: 60px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  margin: 0 auto;
}

.invisible {
  display: none;
}

.textArea {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
  margin-top: 50px;
  min-height: fit-content;
}

#zupanija {
  color: black;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #022632;
  color: rgb(128, 121, 121);
  text-align: center;
  padding-top: 25px;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

a:hover {
  color: antiquewhite;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 944px) {
  .textArea {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #information {
    border-radius: 20px;
  }

  #sastojci {
    border-radius: 20px;
  }
}

.dropbtn {
  background-color: inherit;
  color: antiquewhite;
  font-size: 18px;
  border: none;
  font-family: "Montserrat", sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

#settings {
  position: relative;
  bottom: 21px;
  left: 5px;
}
#settings:hover {
  background-color: #022632;
  cursor: default;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  text-decoration: underline;
  cursor: pointer;
}
